.grid {
    display: grid;
    grid-template-columns: 50px repeat(7, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.grid > span {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}
