.field {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 18px;
    border-radius: 35%;
    padding: 2px;
}

.field:hover {
    background-color: rgb(208, 255, 233);
}

.field:active {
    background-color: rgb(166, 255, 213);
}

.disabled {
    cursor: default;
}

.disabled:hover,
.disabled:active {
    background: none;
}
