.tile {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    border: 2px solid rgb(16, 87, 71);
    border-radius: 5px;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.tile:active {
    background-color: rgba(16, 87, 71, 0.3);
}

.close {
    position: absolute;
    top: 0px;
    right: 4px;
    font-size: 20px;
}

.tooltip {
    position: absolute;
    border: 3px solid rgb(16, 87, 71);
    bottom: -40px;
    padding: 5px;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.tile:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
