.home {
    padding: 10px;
}

.welcome {
    text-align: center;
    padding-top: 30vh;
}

.welcome h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.title {
    font-size: 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.grid > span {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}
