.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.wrapper > span {
    text-align: center;
    border-top: none;
    border-left: none;
    height: 40px;
    display: grid;
    align-items: center;
}

.wrapper:hover {
    border-bottom: 1px solid black;
}

.start,
.middle,
.finish,
.single {
    background-color: rgb(44, 166, 182);
    height: 40%;
    width: 100%;
}

.start {
    border-radius: 10px 0 0 10px;
}

.single {
    border-radius: 10px;
}

.finish {
    border-radius: 0 10px 10px 0;
}
